body {
  margin: 0;
  padding: 0;
  background-color: rgba(245, 245, 245, 0.944);
}

.dashboard-content {
  /* height: 100vh; */
  /* width: 100vw; */
  /* background-color: rgba(245, 245, 245, 0.944); */
  display: grid;
  grid-template-areas: "summary low" "top low" "report report";
  /* margin-top: 80px;
  margin-left: 250px; */
  gap: 20px;
}

.product-summary {
  /* height: 165px; */
  /* width: 790px; */
  grid-area: summary;
  /* margin: 10px 10px 10px 10px; */
  background-color: white;
  border-radius: 10px;
}

.low-stock {
  /* height: 649px; */
  /* width: 385px; */
  grid-area: low;
  /* margin: 10px 10px 10px 0px; */
  background-color: white;
  border-radius: 10px;
}

.top-product {
  /* height: 464px; */
  /* width: 790px; */
  grid-area: top;
  /* margin: 10px 10px 10px 10px; */
  background-color: white;
  border-radius: 10px;
}

.report-visualization {
  /* height: 390px; */
  /* width: 1195px; */
  grid-area: report;
  /* margin: 10px 10px 10px 10px; */
  background-color: white;
  border-radius: 10px;
}

.product-summary #title-subtable {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  text-align: left;
}

.low-stock #title-subtable {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  text-align: left;
}

.top-product #title-subtable {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  text-align: left;
}

.report-visualization #title-subtable {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 10px 10px 10px;
  padding-left: 10px;
  text-align: left;
}

/* Summary Item */
.summary-container {
  height: 90px;
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.summary-item {
  height: 100%;
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.vertical-divider {
  height: 100%;
  width: 3px;
  background-color: rgba(223, 220, 220, 0.971);
  border-radius: 12px;
}

.icon-summary {
  height: 30px;
  width: 30px;
  border-radius: 10px;
}

#icon-summary-item {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}
/*End of Summary Item*/

/*Top 10 Product*/
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 10px 20px 20px 20px;
}

.card-product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.card-product:hover {
  transform: scale(1.05);
}

.card-image {
  height: 140px;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  font-size: 15px;
  font-weight: bold;
}

.card-category {
  font-size: 15px;
  color: #939292;
}

.card-quantity {
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  text-align: start;
  color: #939292;
}
/*End of Top 10 Product*/

/* Low of Stock */
.ls-product-container {
  padding: 10px 10px 20px 10px;
}

.ls-product {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 3px;
}

.ls-image{
  max-height: 70px;
  max-width: 60px;
}

.ls-image #img-ls {
  max-height: 70px;
  max-width: 60px;
}

.ls-content {
  text-align: left;
}

.ls-name {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 4px;
}
